[user]
  name = Nicolai Negru
[alias]
	co = checkout
	br = branch
	st = status
	unstage = reset HEAD --
	ll = log --oneline
	pl = pull
	ps = push
	cm = commit -m
  sw = switch
[help]
	autocorrect = 20
