[user]
	name = Nicolai Negru
	email = negru.n@gmail.com

[alias]
	co = checkout
	br = branch
	st = status
	unstage = reset HEAD --
	ll = log --oneline
	pl = pull
	ps = push
	cm = commit -m
	sw = switch
	swc = switch -C
	del = branch -D
	structure = log --oneline --simplify-by-decoration --graph --all
[help]
	autocorrect = 20
